// Specific CSS for your home-page
body {
  background-color: #262626;
}

.flex-design {
  display: flex;
  justify-content: flex-end;
}


.banner {
  display: flex;
  justify-content: space-between;
  color: white;
}

.search-bloc {
  margin-left: 70px;
  margin-top: 50px;
}

.title {
  margin-bottom: 30px;
  color: white;
}

.design-2 {
  margin-top: 50px;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  color: white;
}

.learn-more {
  padding: 30px;
  margin-top: 200px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.date {
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.search-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
  color: white;
  background-color: #EB8F1B;
}

.search-button2 {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
  color: white;
  background-color: #EB8F1B;
}

.show-planet {
  display: flex;
  justify-content: space-between;
}

.my-planets {
  text-align: center;
}
