<div class="container">
  <h1> LIST OF PLANETS </h1>
  <ul>
    <% @planets.each do |planet| %>
      <li>  <%=  link_to planet.name, planet_path(planet) %> </li>
    <% end %>
  </ul>
  <% if policy(Planet).create? %>
    <i style="btn-lg btn-primary"> <%= link_to '+ Add a new planet', new_planet_path %> </i>
  <% end %>
</div>
