<div class="container">
  <h1> LIST OF PLANETS </h1>

  <DIV class="CARDS">
      <% @planets.each do |planet| %>
    <table>
      <tr>
          <td> <%=  planet.name %> </td>
          <td> <%=  planet.description %> </td>
          <td>
            <% if policy(Planet).show? %>
              <i style="btn-lg btn-primary"> <%= link_to 'View details', planet_path(planet) %> </i>
            <% end %>
          </td>
      </tr>
    <% end %>
  </table>
    <td>
      <% if policy(Planet).create? %>
        <i style="btn-lg btn-primary"> <%= link_to '+ Add a new planet', new_planet_path %> </i>
      <% end %>
    </td>
  </DIV>
</div>
