 <h1 class="title text-center"> OUR GALAXY EXPERIENCES </h1>
 <div class="container-top">
  <div class="container col-6">
    <% @planets.each do |planet| %>
      <div class="card-product">
          <%# <%= image_tag "#{planet.name.downcase.gsub(" ", "_")}.jpg" %>
          <div class="card-product-infos">
           <h2> <%=  link_to planet.name, planet_path(planet) %> </h2>
              <div class="card-product-price">
                <div> <p> <%=  planet.description %></p> </div>
                <div> ★  </div>
                <div> <p> PRICE </p> <strong><%= planet.price %> $ / guest</strong> </div>
              </div>
          </div>
      </div>
    <% end %>
  </div>

</div>




