<div class="banner">

  <div class="search-bloc">

      <div class="slogan m-4">
        <div class="title"><h1>Explore and travel</h1></div>
        <div class="sous-titre"><h3>All around the galaxy</h3></div>
      </div>

    <div class="search-bar">

      <div class="form-group col-5 date">
        <label for="example-search-input" class="col-15 col-form-label">Enter a name</label>
          <div class="col-12 date">
            <input class="form-control" type="search" value="Galaxy" id="example-search-input">
          </div>
      </div>

      <div class="form-group col-4 date">
        <label for="example-date-input" class="col-3 col-form-label">Start</label>
          <div class="col-12 date">
            <input class="form-control" type="date" value="2020-08-19" id="example-date-input">
          </div>
      </div>

      <div class="form-group col-4 date">
        <label for="example-date-input" class="col-2 col-form-label">End</label>
          <div class="col-12 date">
            <input class="form-control" type="date" value="2020-08-19" id="example-date-input">
          </div>
        </div>

    </div>

  <div class="search-button">
    <%= link_to "Search", planets_path, class: "nav-link", :style=>'color: white;'%>
  </div>

  </div>

    <div class="flex-design">
      <div class="m-4"><%= image_tag "thousand-01png.png", width: 600, height: 600 %></div>
    </div>

  </div>


<div class="section-1">
  <div class="learn-more mb">
    <h3 class="mb-4">A new way to explore the universe</h3>
    <p>For decades travellers have travelled all aroud the Planet Earth because it's one of the most beautiful place in the univers.
    Now, they can also travel in the univers, in different galaxy and find a planet to stay</p>
  </div>
  <div class="design-2 mb-4">
    <%= image_tag "Thousand-02.png", width: 659, height: 534 %>
  </div>
</div>

