.btn-ghost {
  color: #000000;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: #EB8F1C;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: #000000;
  color: #EB8F1C;
}

.btn-flat {

  color: #EB8F1C;
  padding: 8px 24px;
  border-radius: 4px;

  transition: background 0.3s ease;
}

.btn-flat:hover {

  color: white;
}

