.navbar-lewagon {
  justify-content: space-between;
  background: #262626;
  z-index: 200;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.dropdown-menu {
  margin-left: 86.5%;
  margin-top: -10px;
}

.nav-link {
  background-color: #EB8F1B;
  border-radius: 3px;
}

.nav-link2 {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

